@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --main-color: #1992D4;
    --background-color: #E2E8F0;
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: min-content 5fr;
}

.sidebar {
    padding: 1rem;
    background-color: var(--main-color);

    grid-area: 1 / 1 / -1 / 2;

    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 2rem;
    
    color: white;
}

.sidebar h2 {
    font-size: 32px;
}

.title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.title svg {
    height: 4rem;
    fill: white;
}

.sidebar section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.item a {
    display: flex;
    align-items: center;
    gap: 1rem;

    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.item a:hover {
    text-decoration: underline;
    
}

.item svg {
    height: 2rem;
    fill: white;
}

header {
    padding: 1rem 2rem;

    grid-area: 1 / 2 / 2 / -1;
    
    display: grid;
    grid-template-rows: repeat(2, min-content);
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;

    background-color: white;
    box-shadow: 0px 4px 10px gray;
}

header svg {
    height: 28px;
}

.search-bar {
    grid-column: 1 / 2;
    grid-row: 1 / 2;

    display: flex;
    align-items: center;
    gap: 2rem;
}

.search-bar input {
    font-size: 20px;
    border: 1px solid black;
    border-radius: 0.5rem;

    width: max(16ch, 60%);
    height: 1.5rem;
}

.mini-profile {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    align-items: center;

    font-weight: bold;
    font-size: 18px;
}

.mini-profile img {
    height: 3rem;
    border-radius: 100%
}

.mini-profile svg {
    height: 1.5rem;
}

.profile {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: repeat(2, min-content);
    column-gap: 1rem;
    row-gap: 0.5rem;

    font-weight: bold;
}

.profile p {
    font-size: 20px;
}

p.greeting {
    align-self: end;
    font-size: 14px;
}

.profile img {
    grid-area: 1 / 1 / -1 / 2;

    height: 6rem;
    border-radius: 100%;
}

.options {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.options button {
    background-color: var(--main-color);
    height: 2.5rem;
    width: 7rem;
    border: 0;
    border-radius: 2.5rem;

    color: white;
    font-weight: bold;
    font-size: 16px;
}

.options button:hover {
    background-color: color-mix(in srgb, var(--main-color) 85%, white);
}

.options button:active {
    background-color: color-mix(in srgb, var(--main-color) 90%, black);
}

main {
    background-color: var(--background-color);
    
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.projects {
    grid-area: 1 / 1 / -1 / 2;
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(auto-fit, minmax(min-content, 1fr));
    gap: 2rem;
}

.projects h2 {
    grid-area: 1 / 1 / 2 / -1;
}

.card {
    position: relative;
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 20px -15px black;
    padding: 1rem 2rem 4rem 1.5rem;
}

.card .decoration {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 10px;
    border-radius: 10px 0 0 10px;
    background-color: hsl(345, 100%, 79%);
}

.card .icons {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    display: flex;
    gap: 1rem;

}

.card .text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.card img {
    height: 1.5rem;
}

.announcements {
    padding: 2rem;
    display: grid;
    grid-template-rows: min-content 1fr;
    gap: 2rem;
}

.announcements>div {
    background-color: white;
    border-radius: 10px;
    box-shadow: 10px 10px 20px -15px black;
    padding: 1rem;

    display: grid;
    grid-template-rows: repeat(auto-fit, min-content);
    gap: 1.5rem;
}

.announcements .text {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
