@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    font-family: 'Roboto', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

.sidebar {
    padding: 1rem;
    background-color: #1992D4;

    grid-area: 1 / 1 / -1 / 2;

    display: grid;
    grid-template-rows: repeat(3, min-content);
    gap: 2rem;
    
    color: white;
}

.sidebar h2 {
    font-size: 32px;
}

.title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.title svg {
    height: 4rem;
    fill: white;
}

.sidebar section {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.item a {
    display: flex;
    align-items: center;
    gap: 1rem;

    color: white;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.item a:hover {
    text-decoration: underline;
    
}

.item svg {
    height: 2rem;
    fill: white;
}

header {
    grid-area: 1 / 2 / 2 / -1;
    
    display: grid;
    grid-template-rows: repeat(2, min-content);

    background-color: white;
    box-shadow: 0px 4px 10px gray;
}

header svg {
    height: 28px;
}

.mini-profile img {
    height: 80px;
    border-radius: 100%
}

.profile img {
    height: 120px;
    border-radius: 100%;
}
